<div style="background-color: white">
	<h1>Intrusion Monitor Controls</h1>
	<input type="number" id="myMachineID" placeholder="Enter you HSS-ID">

</div>

<div style="background-color: white">
	<p>Press "Lock"/"Unlock"</p>
	<button type="button" (click)="onClick_BtnLock()">Lock</button><br><br>
	<button type="button" (click)="onClick_BtnUnlock()">Unlock</button><br><br><br><br>
	<input type="number" id="myPR1" placeholder="Enter PR1">
	<button type="button" (click)="onClick_BtnTrigger()">Test Trigger</button>
</div>
