<div style="height: 100%; text-align:center; background-color: darkcyan;">
    <div style="background-color: slateblue;">
        <h1 style="color: powderblue;">
            SMART MUHAFIZ <br>
            Patrol Vehical
        </h1>
    </div>
    <p></p>
    <p></p>    

    <h2 style="color: whitesmoke;">
        Welcome... <br>
        The saviour!
    </h2>
    <p>
        <br>
        <br>
        Enter your ID <br>
        and tap "Start"
    </p>
    
    <input type="number" id="myPvID" value="2">
    <p></p>
    <button type="button" id="btnMyPvID" (click)="onClick_BtnStart()">Start</button>
    <p>
        <br>
        <br>
    </p>
</div>
